Client/Client/Service References/Server/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.WorkService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.WorkService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6526/WorkService/Service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Str_list">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ouput" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Str_list" nillable="true" type="tns:Str_list" />
  <xs:complexType name="Settings">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Settings" nillable="true" type="tns:Settings" />
</xs:schema>