Client/Client/Service References/Server/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOk" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultCommand" nillable="true" type="tns:ResultCommand" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ListUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Output" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListUsers" nillable="true" type="tns:ListUsers" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="UserHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="ruHistory" nillable="true" type="tns:ArrayOfRowUserHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserHistory" nillable="true" type="tns:UserHistory" />
  <xs:complexType name="ArrayOfRowUserHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RowUserHistory" nillable="true" type="tns:RowUserHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRowUserHistory" nillable="true" type="tns:ArrayOfRowUserHistory" />
  <xs:complexType name="RowUserHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Doc_title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RowUserHistory" nillable="true" type="tns:RowUserHistory" />
  <xs:complexType name="DocHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Doc" nillable="true" type="tns:DocInfo" />
      <xs:element minOccurs="0" name="rdHistory" nillable="true" type="tns:ArrayOfRowDocHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocHistory" nillable="true" type="tns:DocHistory" />
  <xs:complexType name="DocInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileLength" type="xs:long" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Doc" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Screen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocInfo" nillable="true" type="tns:DocInfo" />
  <xs:complexType name="ArrayOfRowDocHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RowDocHistory" nillable="true" type="tns:RowDocHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRowDocHistory" nillable="true" type="tns:ArrayOfRowDocHistory" />
  <xs:complexType name="RowDocHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RowDocHistory" nillable="true" type="tns:RowDocHistory" />
  <xs:complexType name="DocsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Output" nillable="true" type="tns:ArrayOfDocInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocsInfo" nillable="true" type="tns:DocsInfo" />
  <xs:complexType name="ArrayOfDocInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocInfo" nillable="true" type="tns:DocInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocInfo" nillable="true" type="tns:ArrayOfDocInfo" />
</xs:schema>