Client/Client/Service References/Server/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6526/WorkService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Model" />
  <xs:import schemaLocation="http://localhost:6526/WorkService/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:6526/WorkService/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server.WorkService" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="LogInResult" nillable="true" type="q1:ResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="CreateAccountResult" nillable="true" type="q3:ResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMyUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="DeleteMyUserResult" nillable="true" type="q4:ResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="DeleteUserResult" nillable="true" type="q5:ResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="ChangeUserRoleResult" nillable="true" type="q6:ResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMyUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="EditMyUserResult" nillable="true" type="q7:ResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="FindUsersResult" nillable="true" type="q8:ListUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyHistory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="GetMyHistoryResult" nillable="true" type="q9:UserHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="GetUserHistoryResult" nillable="true" type="q10:UserHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_document" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="GetDocHistoryResult" nillable="true" type="q11:DocHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_doc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="DeleteDocumentResult" nillable="true" type="q12:ResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_doc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="UpdateDocInfoResult" nillable="true" type="q13:DocInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="new_doc" nillable="true" type="q14:DocInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="EditDocumentResult" nillable="true" type="q15:ResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_publisher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_tags" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="FindDocumentsResult" nillable="true" type="q16:DocsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_Doc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteDocumentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/Message" name="FileByteStream" type="q17:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Server.Model" name="DocInfo" nillable="true" type="q18:DocInfo" />
  <xs:element name="UploadResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Server.Model" minOccurs="0" name="Result" nillable="true" type="q19:ResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Server.WorkService" minOccurs="0" name="GetAllLanguagesResult" nillable="true" type="q20:Str_list" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPublishers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPublishersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Server.WorkService" minOccurs="0" name="GetAllPublishersResult" nillable="true" type="q21:Str_list" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Server.WorkService" minOccurs="0" name="GetAllRolesResult" nillable="true" type="q22:Str_list" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Server.WorkService" minOccurs="0" name="GetSettingsResult" nillable="true" type="q23:Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>